/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


@media (min-width: 783px) {
  body.admin-bar .navbar-fixed-top{
    top: 28px;
  }
}
.navbar {
  border:0;
  background:transparent;
  .navbar-header {
    display:none;
  }
}

.header {
  .navbar-brand {
    font-family:"WalkwaySemiBoldRegular";
  }
  #logo {}

  nav {
    ul.nav {
      width:100%;
      display: table;
      table-layout: fixed; /* the magic dust that ensures equal width */
      > li {
        opacity:1;
        display: table-cell;
        margin-right:10px;
        float:none;
        a {
          border:0;
          border-top:10px solid #7c54bd;
          padding-top:0;
          padding-left:0;
          margin-right: 10px;
          background:transparent;
        }
        &.active a {
            background:transparent;
          }

        &:first-child {}

        &:last-child {}
      }
      > li + li a {
        border:0;
        border-top:10px solid #e79b50;
      }
      > li + li + li a {
        border:0;
        border-top:10px solid #5ea527;
      }
      > li + li + li + li a {
        border:0;
        border-top:10px solid #d74c78;
      }
      > li + li + li + li + li  a {
        border:0;
        border-top:10px solid #7c54bd;
      }
      > li + li + li + li + li + li  a {
        border:0;
        border-top:10px solid #b93013;
      }
      > li + li + li + li + li + li + li  a {
        border:0;
        border-top:10px solid #e6cc56;
      }
      > li + li + li + li + li + li + li + li a {
        border:0;
        border-top:10px solid #d9e6fe;
      }
      > li + li + li + li + li + li + li + li + li a {
        border:0;
        border-top:10px solid #97f935;
      }
      > li + li + li + li + li + li + li + li + li + li a {
        border:0;
        border-top:10px solid #7c54bd;
      }
    }
  }
}


